.search-result-page { text-align: center; } 
.search-result-page .search-value { font-size: 3rem; } 
.search-result-page .result-title { position: relative; font-size: 6rem; display: inline-block; } 
.search-result-page .product-lists-wrap { display: flex; flex-wrap: wrap; } 
.search-result-page .product-lists-wrap li.product-list { text-align: center; flex-basis: 23%; margin: 0 1% 50px; } 
.search-result-page .product-lists-wrap li.product-list .img-thumb { position:relative; max-width:500px; max-height:500px; width:18.5546vw; height:18.5546vw; overflow: hidden; margin:0 auto; } 
.search-result-page .product-lists-wrap li.product-list .img-thumb > img { position:absolute; top:0; left:0; transition:opacity .3s; } 
.search-result-page .product-lists-wrap li.product-list .img-thumb img.hover-thumb { opacity:0; } 
.search-result-page .product-lists-wrap li.product-list:hover .thumb { opacty:0; } 
.search-result-page .product-lists-wrap li.product-list:hover img.hover-thumb { opacity:1; } 
.search-result-page .product-lists-wrap li.product-list .product-cont .p-name { font-size: 2.5rem; font-weight: bold; line-height: 1.3; } 
.search-result-page .product-lists-wrap li.product-list .product-cont .p-price { color: #ff5000; font-size: 2rem; font-weight: bold; } 
.search-result-page .more-btn-wrap { background: #ff5000; width: 100px; margin: 0 auto; height: 40px; line-height: 40px; color: #fff; font-weight: bold; font-size: 16px; border-radius: 10px; cursor: pointer; } 
.search-result-page .no-data-wrap { margin: 50px 0; background: #fafafa; display: inline-block; padding: 40px 100px; border-radius: 20px; } 
.search-result-page .notify-ico { display: block; margin: 0 auto; color: #ff5000; font-size: 50px; } 
.search-result-page .no-data { font-size: 4rem; font-weight: bold; } 
.find-words > span {background:#ff5000; color:#fff;}

@media (max-width: 1024px){
 .search-result-page .product-lists-wrap li.product-list { flex-basis: 31.3333%; } 
 .search-result-page .product-lists-wrap li.product-list .img-thumb { width: 29.2968vw; height: 29.2968vw; } 
 }
@media (max-width: 700px){
 .search-result-page .product-lists-wrap li.product-list { flex-basis: 48%; } 
 .search-result-page .product-lists-wrap li.product-list .img-thumb { width: 42.8571vw; height: 42.8571vw; } 
 .search-result-page .product-lists-wrap li.product-list .product-cont .p-name { font-size: 16px; } 
 .search-result-page .product-lists-wrap li.product-list .product-cont .p-price { font-size: 14px; } 
 }
@media (max-width: 480px){
 .search-result-page .product-lists-wrap li.product-list { flex-basis: 98%; } 
 .search-result-page .product-lists-wrap li.product-list .img-thumb { width: 85.75vw; height: 85.75vw; } 
 }